.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 150px;
}
.nav-nounderline{
    text-decoration: none;
    color:inherit;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
    color:inherit;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    /* height: 350px; */
    /* overflow-y: scroll; */
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    height: 42%;
    width: 100%;
}
.filter-btn {
    margin: 10px;
    cursor: pointer;
    background-color: orange;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    margin: 20px;
    padding: 5px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login-logout{
    padding: 0 20px;
    margin: 20px;
}
.search{
    padding: 10px;
}
.search-button{
    cursor: pointer;
}
.filter{
    display: flex;
    flex-wrap: wrap;
}
.no-underline{
    text-decoration: none;
    color:inherit;
}
.user-card{
    padding: 10px;
    border: 1px solid black;
}